@model UserRegistration
<form method="post">
    <div style="max-width:300px; margin:0 auto;">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <h3>Registration</h3>
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl">
        <div class="form-group">
            <label asp-for="Email" for="exampleInputEmail1">Email address</label>
            <input asp-for="Email" type="email" name="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" for="exampleInputPassword1">Password</label>
            <input asp-for="Password" type="password" name="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm" for="exampleInputPassword2">Confirm Password </label>
            <input asp-for="PasswordConfirm" type="password" name="PasswordConfirm" class="form-control" id="exampleInputPassword1" placeholder="Password confirm">
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <button type="submit" asp-controller="Authorization" asp-action="Registration" class="btn btn-primary">Sign up</button>
    </div>
</form>