<form>
    <ul style="list-style-type:none; text-align:left; width:75%">
        <li><button class="btn btn-outline-dark btn-block" asp-area="Admin" asp-controller="Orders" asp-action="ShowOrders">Orders</button></li>
        <li><button class="btn btn-outline-dark btn-block" asp-area="Admin" asp-controller="Users" asp-action="ShowUsers">Users</button></li>
        <li><button class="btn btn-outline-dark btn-block" asp-area="Admin" asp-controller="Roles" asp-action="ShowRoles">Roles</button></li>
        <li><button class="btn btn-outline-dark btn-block" asp-area="Admin" asp-controller="Products" asp-action="ShowProducts">Products</button></li>
    </ul>
</form>