@model UserViewModel
<div class="container text-center">
    <div class="row justify-content-start">
        <div class="col-3">
            @await Html.PartialAsync("AdminToolbar")
        </div>
        <div class="col-9">
            <div class="border border-dark rounded">
                <h3>User @Model.Email</h3>
                <form>
                    <table class="table">
                        <tr>
                            <td>FullName</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Email(login)</td>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Edit</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="ChangePassword">Change password</a></li>
                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="EditUserData">Edit data</a></li>
                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="">Access rights</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Delete</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deletion user</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this user? </>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"
                            asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-userId="@Model.Id">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>